<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/searchstyle.css'/>
    <link rel='stylesheet' href='/stylesheets/default.css'/>
    <link rel='stylesheet' href='/stylesheets/navstyle.css' />
  </head>
  <body>
    
    <%- include("./head/nav") %>
    <%- include("./head/search") %>
    
    

  </body>
</html>
