<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/default.css' />
        <link rel='stylesheet' href='/stylesheets/navstyle.css' />
        <link rel='stylesheet' href='/stylesheets/buystyle.css'/>
        <style>
            .product_contents {
                margin-top: 100px;
                display: block;
                position: relative;
                margin-left: auto;
                margin-right: auto;
                width: 1164px;
            }
    
            .product_contents .product_nav {
                float: left;
                width: 200px;
            }
    
            .product_contents .product_main {
                float: right;
    
                width: 932px;
                height: 2200px;
                margin-left: 32px;
                margin-bottom: 20px;
            }
        </style>
    </head>
    <body>
        <%- include("../head/nav",{name:name}) %>
     
        <div class="title">
            <h1>주문/결제</h1>
            <div class="order_state"><span class="before">주문결제</span> <span class="middle_state">></span> <span class="done">주문완료</span></div>
            </div>

            <div class="making_image">
                <!--이부분 제품마다 다르게 수정 필요-->               
                <img class="makingimg" src="../../images/products/키보드.png">

                <img class="makingimg2" src="../../images/products/키보드2.png">
                                       
            <div class="making_title">
                키보드 주문 제작
                <div class="making_bottom_line_title"></div>
            </div>
            <div class="commment">
            원하는 옵션으로 키보드를 제작해보세요!
                </div>
            <div class="making_info_title">기본 가격 : 300,000원
                <br>
                키보드 모델 : VARMILO VA87M CNC 알루미늄
                <br>
                배송비 : 무료
                <div class="making_bottom_line"></div>
            </div>
            
            <div class="order_making_box">
                <span>커스텀 옵션 선택</span>   
                        
                <div class="option_box">
                    스위치
                    <select>
                        <option>청축(클릭)(+0원)</option>
                        <option>갈축(넌클릭)(+0원)</option>
                        <option>적축(리니어)(+0원)</option>
                        <option>흑축(리니어)(+0원)</option>
                        <option>클리어축(넌클릭)(+35,000원)</option>
                        <option>은축(리니어)(+35,000원)</option>
                        <option>저소음흑축(리니어)(+35,000원)</option>
                        <option>저소음적축(리니어)(+35,000원)</option>
                    </select>
                    <br><br>
                    LED
                    <select>
                        <option>선택안함</option>
                        <option>화이트(+5,000원)</option>
                        <option>레드(+5,000원)</option>
                        <option>옐로우(+5,000원)</option>
                        <option>블루(+5,000원)</option>
                        <option>그린(+5,000원)</option>
                        <option>오렌지(+5,000원)</option>
                        <option>바이올렛(+5,000원)</option>
                        <option>아이스블루(+5,000원)</option>
                    </select>
                    <br><br>
                    보강판
                    <select>
                        <option>하우징일체형(+0원)</option>
                    </select>
                    <br><br>
                    하우징
                    <select>
                        <option>Crimson Red(+0원)</option>
                        <option>Deep Blue(+0원)</option>
                        <option>Dark Purple(+0원)</option>
                        <option>Charcoal Black(+0원)</option>
                        <option>Light Green(+0원)</option>
                    </select>
                    <br><br>
                    키캡 배열
                    <select>
                        <option>1톤(+0원)</option>
                        <option>2톤(+15,000원)</option>
                        <option>3톤(+24,000원)</option>
                    </select>
                    <br><br>
                    흡음재
                    <select>
                        <option>선택안함</option>
                        <option>흡음재 추가(+5,000원)</option>
                    </select>
                    <br><br>
                    키캡 각인 방식
                    <select>
                        <option>무각(+0원)</option>
                        <option>측각 1톤(+0원)</option>
                        <option>모던 1톤(+14,000원)</option>
                        <option>클래식 1톤(+14,000원)</option>
                        <option>라지 1톤(+14,000원)</option>
                        <option>국문 1톤(+14,000원)</option>
                        <option>Alaska 1톤(+14,000원)</option>
                    </select>
                    <br>
                    <div class="total_price">총액 : 300,000원</div>
                </div>
             </div>
             <button class="flex"><a href="/">구매하기</a></button>
             
            
            
            </div>
        </div>
    </div>







    </body>
   
</html>

