<!DOCTYPE html>
<html>

<head>
    <title>CS</title>
    <link rel='stylesheet' href='/stylesheets/default.css' />
    <link rel='stylesheet' href='/stylesheets/navstyle.css' />
    <link rel='stylesheet' href='/stylesheets/Main_product.css'/>
    <script type="module" src="https://unpkg.com/@deckdeckgo/drag-resize-rotate@latest/dist/deckdeckgo-drag-resize-rotate/deckdeckgo-drag-resize-rotate.esm.js"></script>
    <style>
        .contents {
            margin-top: 100px;
            display: block;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            width: 1500px;
            height: 840px;
        }

        .custom_cont {
            float: left;
            width: 1097px;
            height: 100%;
            border: 1px solid black;
            border-right: none;
        }

        .sale_cont {
            float: right;
            width: 400px;
            height: 100%;
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <%- include("../head/nav") %>
    <div class="contents">
        <div class="custom_cont">

            <deckgo-drr style="--width: 20%; --height: 10%; --top: 5%; --left: 10%; --rotate: 45deg;">
                <div style="background: red;"></div>
              </deckgo-drr>
              ​
              <deckgo-drr style="--width: 10%; --height: 20%; --top: 45%; --left: 8%;" drag="y-axis">
                <div style="background: yellow"></div>
              </deckgo-drr>
              ​
              <deckgo-drr style="--width: 10%; --height: 10%; --top: 25%; --left: 10%;" resize="false">
                <div style="background: green"></div>
              </deckgo-drr>
              ​
              ​
              <deckgo-drr unit="px" style="--width: 34px; --height: 20px; --top: 40px; --left: 25px;">
                <img src="https://deckdeckgo.com/assets/img/deckdeckgo-logo.svg" style="display: none;" />
              </deckgo-drr>
              ​
              <deckgo-drr class="draggable hydrated selected" style="--width: 34%; --height: 20%; --top: 40%; --left: 25%;">
                <img src="https://deckdeckgo.com/assets/img/deckdeckgo-logo.svg" style="display: none;" />
              </deckgo-drr>
        </div>
        <div class="sale_cont">

            
        </div>
    </div>
</body>

</html>


<script type="text/javascript" src="/javascripts/mainNav.js"></script>