<!DOCTYPE html>
<html>

<head>
    <title>CS</title>
    <link rel='stylesheet' href='/stylesheets/default.css' />
    <link rel='stylesheet' href='/stylesheets/navstyle.css' />
    <link rel='stylesheet' href='/stylesheets/Main_product.css' />
    <script type="module"
        src="https://unpkg.com/@deckdeckgo/drag-resize-rotate@latest/dist/deckdeckgo-drag-resize-rotate/deckdeckgo-drag-resize-rotate.esm.js"></script>
    <style>
        .contents {
            margin-top: 100px;
            display: block;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            width: 1500px;
            height: 640px;
            margin-bottom: 50px;
        }

        .custom_cont {
            float: left;
            width: 1097px;
            height: 100%;
            border: 1px solid black;
            border-right: none;
            position: relative;
        }

        .sale_cont {
            float: right;
            width: 400px;
            height: 100%;
            border: 1px solid black;
        }

        .all_btn{
            position: absolute;
            width: 70px;
            height: 240px;
        
            right: 25px;
        }

        .float_btn{
            position: relative;
            display: block;
            border-radius: 50%;
            
            height: 70px;
            width: 70px;
            margin-bottom: 10px;
            box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
        }

        .float_btn a{
            position: absolute;
            width: 100%;
            text-align: center;
            line-height: 70px;
            display: block;
            cursor: pointer;
        }

        .float_btn:hover{
            background-color: #FFC000;
        }
    
        .float_btn:hover a{
            color: white;
        }
    </style>
</head>

<body>
    <%- include("../head/nav") %>
    <div class="contents">
        <div class="custom_cont" id="custom_cont">
            ​
            <deckgo-drr unit="px" style="--width: 300px; --height: 200px; --top: 50px; --left: 50px;">
                <img src="https://deckdeckgo.com/assets/img/deckdeckgo-logo.svg" style="display: none;" />

            </deckgo-drr>



            <div class="all_btn">
                
                    <li>
                        <div class="float_btn">
                            <a class="add_picture" onclick="add_picture()">사진추가</a>
                        </div>
                    </li>
                    <li>
                        <div class="float_btn">
                            <a class="add_text_btn" onclick="add_text()">글자추가</a>
                        </div>
                    </li>
                    <li>
                        <div class="float_btn">
                            <a class="remove_text_btn" onclick="remove_text()">삭제</a>
                        </div>
                    </li>
            
            </div>
        </div>
        <div class="sale_cont">


        </div>
    </div>
</body>

</html>
<script type="text/javascript">
    let text_count = 0;
    let text_id;
    function add_text() {

        var div = `<div style=" font-size: 50px;" contenteditable="true">텍스트</div>`
        ++text_count;
        text_id = "deck" + text_count;
        var newDeckgo = parent.document.createElement("deckgo-drr");
        newDeckgo.unit = "px";
        newDeckgo.text = "true";
        newDeckgo.style = "--top: 280px; --left: 460px;";
        newDeckgo.innerHTML = div;
        newDeckgo.id = text_id;


        parent.document.getElementById("custom_cont").appendChild(newDeckgo);


    }
    function remove_text() {
        console.log(text_count);
        console.log(text_id);
        if (text_count >= 1) {
            var elem = document.getElementById(text_id);
            text_count--;
            text_id = "deck" + text_count;
            return elem.parentNode.removeChild(elem);
            
        }

    }
</script>

<script type="text/javascript" src="/javascripts/mainNav.js"></script>