<!DOCTYPE html>
<html>
    <head>
        <title>CS</title>
        <link rel='stylesheet' href='/stylesheets/default.css'/>
        <link rel='stylesheet' href='/stylesheets/navstyle.css' />
    </head>
    <body>
        <%- include("../head/nav") %>
    </body>
</html>