input:-ms-input-placeholder{color:#ccc}
input::-webkit-input-placeholder{color: #ccc}
input::-ms-input-placeholder{color:#ccc}

.search_area{
    position: relative;
}

.search_title{
    position: absolute;
    top: 100px;
    left:50%;
    transform: translateX(-50%);
    font-weight: 600;
    font-size: larger;
}

.search{
    margin-top: 8px;
    height: 40px;
    width: 500px;
    border: 2px solid #FFC000;
    background: #ffffff;
    position:absolute;
    top: 125px;
    left:50%;
    transform: translateX(-50%);
}

.input_search{
    font-size: 16.5px;
    width: 425px;
    padding: 10px;
    border: 0px;
    outline: none;
    float: left;
}

.button_search{
    position: relative;
    width: 40px;
    top: 50%;
    transform: translateY(-50%);
    border: 0px;
    outline: none;
    float: right;
    color: transparent;
    background: url('../images/search.png') no-repeat;
    background-size: 28px 21px;
}