<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>

    <link rel='stylesheet' href='/stylesheets/default.css' />
    <link rel='stylesheet' href='/stylesheets/navstyle.css' />
    <link rel="stylesheet" href="/stylesheets/mypage/mypage_subnav.css">

    <style>
        .mypage_body {
            width: 1500px;
            height: auto;

            margin: 0 auto;
            margin-top: 100px;

        }

        #title {
            display: flex;
            height: 100px;
        }

        #title div {
            color: white;
        }

        #my_main {
            text-align: center;
            line-height: 100px;
            font-size: 25px;
            border-right: 1px solid white;
        }

        #my_order_count {
            border-right: 1px solid white;
        }

        .count div {
            margin: 10px;
        }

        .count_content {
            margin: 0 auto;
        }

        #tbody {
            display: flex;

        }

        .meue_list {
            margin: 10px;
            margin-bottom: 30px;
            font-size: 18px;
        }

        .meue_list li {
            margin: 5px;
            margin-top: 20px;
            font-size: 15px;
        }

        .mypage_content {
            width: 1304px;
            margin: 0 auto;
        }


        .painting_order_content {
            margin: 50px;
            padding: 50px;
            height: auto;
            border: 1px solid rgb(216, 216, 216);
            border-radius: 50px;
            box-shadow: 2.5px 2.5px 0.2em rgb(216, 216, 216);

        }

        .painting_order_product {
            margin-bottom: 20px;
            width: 610px;
            padding: 30px;
            height: auto;
            border: 1px solid rgb(216, 216, 216);
            border-radius: 25px;
            box-shadow: 2.5px 2.5px 0.2em rgb(216, 216, 216);
            display: flex;
            flex-direction: column;
        }

        #adr_add_body {
            margin: 0 auto;
            width: 610px;
        }

        .adr_input {
            margin-bottom: 30px;
        }

        .adr_input input {
            width: 500px;
            height: 30px;
            font-size: 15px;
            border: none;
            border-bottom: solid 1px #ffC000;
        }

        .adr_input input:focus {
            outline: none;
        }

        .adr_input input:focus::placeholder {
            color: transparent;
        }

        #find_adr_btn {
            width: 100px;
            color: white;
            font-weight: 800;
            background-color: #ffC000;
            border: none;
            border-radius: 5px;
        }

        #add_adr_btn {
            width: 670px;
            border: none;
            color: white;
            font-weight: 800;
            font-size: large;
            border-radius: 5px;
            background-color: #ffC000;
            height: 50px;
        }

        .warning_msg {
            display: none;
            font-size: 15px;
            color: red;
        }
    </style>

</head>

<body>
    <%- include("../../head/nav",{name:name}) %>

    <div class="mypage_body">
        <div id="title">
            <div id="my_main" style="flex-basis: 175px; background-color: #FFBF00;">
                <span>mypage</span>
            </div>
            <div id="my_order_count" class="count" style="flex-basis: 662.5px; background-color: #F7D358;">
                <div>주문</div>
                <div class="count_content">
                    <span style="font-size: 35px;">0</span><span>건</span>
                </div>
            </div>
            <div id="my_custom_count" class="count" style="flex-basis: 662.5px; background-color: #F7D358;">
                <div>커스텀 제작</div>
                <div class="count_content">
                    <span style="font-size: 35px;">0</span><span>건</span>
                </div>
            </div>
        </div>
        <div id="tbody">
            <div class="mypage_nav" style="flex-basis: 175px; height: 400px; background-color: #F5ECCE;">

                <div class="meue_list">나의 주문
                    <div>
                        <ul>
                            <li><a href="/mypage" id="painting">페인팅 주문 목록</a></li>
                            <li><a href="/mypage/custom_order" id="custom">커스텀 주문 목록</a></li>
                        </ul>
                    </div>

                </div>

                <div class="meue_list"> 나의 정보
                    <div>
                        <ul>
                            <li style="font-weight: bold;"> <a href="/mypage/myCard" id="card"
                                    style=" color: #c99700; ">결제카드 정보</a> </li>
                            <li><a href="/mypage/myAdr" id="adr">배송지 정보</a></li>
                        </ul>
                    </div>

                </div>

                <div class="meue_list">
                    <a href="/mypage/reviewList" id="review">내가 작성한 리뷰</a>
                </div>

                <% if(company){%>
                    <div class="meue_list">
                        <a href="">업체메뉴</a>
                    </div>
                <%}%>

            </div>

            <div class="mypage_content" style="flex-basis:1304px; height: auto;">


                <div id="adr_add_body">
                    <h1 style="margin: 20px;">결제 카드 추가</h1>


                    <div class="painting_order_product">

                        <div class="adr_input">
                            <input type="text" id="card_name" name="card_name" placeholder="카드이름">
                            <br>
                            <span class="warning_msg" id="warning_card_name">카드이름를 입력하세요</span>
                        </div>
                        <div class="adr_input">
                            <input type="text" id="post_num" name="post_num" placeholder="카드번호" maxlength="19">
                            <br>
                            <span class="warning_msg" id="warning_post">카드번호를 입력하세요</span>
                        </div>
                        <div class="adr_input">
                            <input type="text" id="main_adr" name="main_adr" placeholder="카드CVC" maxlength="3">
                            <br>
                            <span class="warning_msg" id="warning_main_adr">카드CVC를 입력하세요</span>
                        </div>
                        <div class="adr_input">
                            <input type="text" id="detail_adr" name="detail_adr" placeholder="카드유효기간" maxlength="5">
                            <br>
                            <span class="warning_msg" id="warning_detail_adr">카드유효기간를 입력하세요</span>
                        </div>


                    </div>
                    <input type="submit" id="add_adr_btn" value="결제카드추가" onclick="check_adr_info()">
                </div>


            </div>






        </div>
    </div>

    <script>
        // 값 제대로 입력했는지 확인
        function check_adr_info() {

            var card_name = document.getElementById("card_name").value;
            var post_num = document.getElementById("post_num").value
            var main_adr = document.getElementById("main_adr").value
            var detail_adr = document.getElementById("detail_adr").value

            var warning1 = document.getElementById("warning_post");
            var warning2 = document.getElementById("warning_main_adr");
            var warning3 = document.getElementById("warning_detail_adr");
            var warning4 = document.getElementById("warning_card_name");

            warning1.style.display = "none";
            warning2.style.display = "none";
            warning3.style.display = "none";
            warning4.style.display = "none";


            if (post_num && main_adr && detail_adr) {
                sendPost_adr(post_num, main_adr, detail_adr, card_name)
            }
            if (!post_num) {
                warning1.style.display = "inline";
            }
            if (!main_adr) {
                warning2.style.display = "inline";
            }
            if (!detail_adr) {
                warning3.style.display = "inline";
            }
            if(!card_name){
                warning4.style.display = "inline";
            }

        }

        // post로 입력한 배송지 정보 전송
        function sendPost_adr(post_num, main_adr, detail_adr, card_name) {
            var form = document.createElement('form');

            form.setAttribute('method', 'post');
            form.setAttribute('action', '');
            document.charset = "utf-8";

            var hidden1 = document.createElement('input');
            hidden1.setAttribute('type', 'hidden');
            hidden1.setAttribute('name', 'card_num');
            hidden1.setAttribute('value', post_num);

            var hidden2 = document.createElement('input');
            hidden2.setAttribute('type', 'hidden');
            hidden2.setAttribute('name', 'card_CVC');
            hidden2.setAttribute('value', main_adr);


            var hidden3 = document.createElement('input');
            hidden3.setAttribute('type', 'hidden');
            hidden3.setAttribute('name', 'card_date');
            hidden3.setAttribute('value', detail_adr);


            var hidden4 = document.createElement('input');
            hidden4.setAttribute('type', 'hidden');
            hidden4.setAttribute('name', 'card_name');
            hidden4.setAttribute('value', card_name);


            form.appendChild(hidden1);
            form.appendChild(hidden2);
            form.appendChild(hidden3);
            form.appendChild(hidden4);


            document.body.appendChild(form);
            form.submit();


        }
    </script>


    <script>
        var autoHypenCardNum1 = function (str) {
            str = str.replace(/[^0-9]/g, '');
            var tmp = '';
            if (str.length < 5) {
                return str;
            } else if (str.length < 9) {
                tmp += str.substr(0, 4);
                tmp += '-';
                tmp += str.substr(4);
                return tmp;
            } else if (str.length < 13) {
                tmp += str.substr(0, 4);
                tmp += '-';
                tmp += str.substr(4, 4);
                tmp += '-';
                tmp += str.substr(8);
                return tmp;
            } else if(str.length < 17){
                tmp += str.substr(0, 4);
                tmp += '-';
                tmp += str.substr(4, 4);
                tmp += '-';
                tmp += str.substr(8, 4);
                tmp += '-';
                tmp += str.substr(12);
                return tmp;
            } else{
                tmp += str.substr(0, 4);
                tmp += '-';
                tmp += str.substr(4, 4);
                tmp += '-';
                tmp += str.substr(8, 4);
                tmp += '-';
                tmp += str.substr(12,4);
            }

            return str;
        }
        var autoHypenCardNum2 = function (str) {
            str = str.replace(/[^0-9]/g, '');
            var tmp = '';
            if (str.length < 3) {
                return str;
            } else if(str.length < 4){
                tmp += str.substr(0, 2);
                tmp += '/';
                tmp += str.substr(2);
                return tmp;
            } else{
                tmp += str.substr(0, 2);
                tmp += '/';
                tmp += str.substr(2,2);
                return tmp
            }
        }
        var card_input = document.getElementById("post_num");

        card_input.onkeyup = function () {
            console.log(this.value);
            this.value = autoHypenCardNum1(this.value)
        }

        var card_date = document.getElementById("detail_adr");

        card_date.onkeyup = function(){
            console.log(this.value);
            this.value = autoHypenCardNum2(this.value)
        }
    </script>


</body>

</html>

<script type="text/javascript">
    function setsub() {
        var sublnb = document.getElementById("sublnb");
        sublnb.style.display = "block";
        sublnb.style.opacity = "1";
        sublnb.style.visibility = "visible";
    }

    function outsub() {
        var sublnb = document.getElementById("sublnb");
        sublnb.style.display = "none"
        sublnb.style.opacity = "0";
        sublnb.style.visibility = "hidden";
    }

    function lsub() {
        var looksub = document.getElementById("sublnb");
        sublnb.style.display = "block";
        sublnb.style.opacity = "1";
        sublnb.style.visibility = "visible";
    }

    function loutsub() {
        var looksub = document.getElementById("sublnb");
        sublnb.style.display = "none";
        sublnb.style.opacity = "0";
        sublnb.style.visibility = "hidden";
    }

    function setsub2() {
        var sublnb2 = document.getElementById("sublnb2");
        sublnb2.style.display = "block";
        sublnb2.style.opacity = "1";
        sublnb2.style.visibility = "visible";
    }

    function outsub2() {
        var sublnb2 = document.getElementById("sublnb2");
        sublnb2.style.display = "none";
        sublnb2.style.opacity = "0";
        sublnb2.style.visibility = "hidden";
    }

    function lsub2() {
        var sublnb2 = document.getElementById("sublnb2");
        sublnb2.style.display = "block";
        sublnb2.style.opacity = "1";
        sublnb2.style.visibility = "visible";
    }

    function loutsub2() {
        var sublnb2 = document.getElementById("sublnb2");
        sublnb2.style.display = "none";
        sublnb2.style.opacity = "0";
        sublnb2.style.visibility = "hidden";
    }
</script>