<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>

    <link rel='stylesheet' href='/stylesheets/default.css' />
    <link rel='stylesheet' href='/stylesheets/navstyle.css' />

    <style>
        .mypage_body {
            width: 1500px;
            height: auto;

            margin: 0 auto;
            margin-top: 100px;

        }

        #title {
            display: flex;
            height: 100px;
        }

        #title div {
            color:white;
        }
        #my_main{
            text-align: center;
            line-height: 100px;
            font-size: 25px;
            border-right: 1px solid white;
        }
        #my_order_count{
            border-right: 1px solid white;
        }
        .count div{
            margin: 10px;
        }

        .count_content{
            margin: 0 auto;
        }
        #tbody{
            display: flex;
            
        }
        .meue_list{
            margin: 10px;
            margin-bottom: 30px;
            font-size: 20px;
        }
        .meue_list li{
            margin: 5px;
            margin-top: 20px;
            font-size: 15px;
        }
        .mypage_content{
           margin: 20px;
        }
        .painting_order_content{
            margin: 50px;
            height: 300px;
            border: 1px solid black;
        }
    </style>

</head>

<body>
    <%- include("../head/nav",{name:name}) %>

    <div class="mypage_body">
        <div id="title">
            <div id="my_main" style="flex-basis: 175px; background-color: #FFBF00;">
                <span>mypage</span>
            </div>
            <div id="my_order_count" class="count" style="flex-basis: 662.5px; background-color: #F7D358;">
                <div>주문</div>
                <div class="count_content">
                    <span style="font-size: 35px;">0</span><span>건</span>
                </div>
            </div>
            <div id="my_custom_count" class="count" style="flex-basis: 662.5px; background-color: #F7D358;">
                <div>커스텀 제작</div>
                <div class="count_content">
                    <span style="font-size: 35px;">0</span><span>건</span>
                </div>
            </div>
        </div>
        <div id="tbody">
            <div class="mypage_nav" style="flex-basis: 175px; height: auto; background-color: #F5ECCE;">
                
                <div class="meue_list">나의 주문
                    <div>
                        <ul>
                            <li> <a href="">페인팅 주문 목록</a></li>
                            <li><a href="">커스텀 주문 목록</a></li>
                        </ul>
                    </div>
                    
                </div>

                <div class="meue_list"> 나의 정보
                    <div>
                        <ul>
                            <li> <a href="">결제카드 정보</a> </li>
                            <li><a href="">배송지 정보</a></li>
                        </ul>
                    </div>

                </div>
                
                <div class="meue_list">
                    <a href="">내가 작성한 리뷰</a>
                </div>
                
            </div>

            <div class="mypage_content" style="flex-basis:1304px; height: auto;">
                <h3>주문목록</h3>
                <div class="painting_order_content">
                </div>
            </div>
        </div>
    </div>

</body>

</html>

<script type="text/javascript">

    function setsub() {
        var sublnb = document.getElementById("sublnb");
        sublnb.style.display = "block";
        sublnb.style.opacity = "1";
        sublnb.style.visibility = "visible";
    }
    function outsub() {
        var sublnb = document.getElementById("sublnb");
        sublnb.style.display = "none"
        sublnb.style.opacity = "0";
        sublnb.style.visibility = "hidden";
    }
    function lsub() {
        var looksub = document.getElementById("sublnb");
        sublnb.style.display = "block";
        sublnb.style.opacity = "1";
        sublnb.style.visibility = "visible";
    }
    function loutsub() {
        var looksub = document.getElementById("sublnb");
        sublnb.style.display = "none";
        sublnb.style.opacity = "0";
        sublnb.style.visibility = "hidden";
    }
    function setsub2() {
        var sublnb2 = document.getElementById("sublnb2");
        sublnb2.style.display = "block";
        sublnb2.style.opacity = "1";
        sublnb2.style.visibility = "visible";
    }
    function outsub2() {
        var sublnb2 = document.getElementById("sublnb2");
        sublnb2.style.display = "none";
        sublnb2.style.opacity = "0";
        sublnb2.style.visibility = "hidden";
    }
    function lsub2() {
        var sublnb2 = document.getElementById("sublnb2");
        sublnb2.style.display = "block";
        sublnb2.style.opacity = "1";
        sublnb2.style.visibility = "visible";
    }
    function loutsub2() {
        var sublnb2 = document.getElementById("sublnb2");
        sublnb2.style.display = "none";
        sublnb2.style.opacity = "0";
        sublnb2.style.visibility = "hidden";
    }

</script>