<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>

    <link rel='stylesheet' href='/stylesheets/default.css' />
    <link rel='stylesheet' href='/stylesheets/navstyle.css' />

    <style>
        .mypage_body {
            width: 1500px;
            height: auto;

            margin: 0 auto;
            margin-top: 100px;

        }

        #title {
            display: flex;
            height: 100px;
        }

        #title div {
            color:white;
        }
        #my_main{
            text-align: center;
            line-height: 100px;
            font-size: 25px;
            border-right: 1px solid white;
        }
        #my_order_count{
            border-right: 1px solid white;
        }
        .count div{
            margin: 10px;
        }

        .count_content{
            margin: 0 auto;
        }
        #tbody{
            display: flex;
            
        }
        .meue_list{
            margin: 10px;
            margin-bottom: 30px;
            font-size: 18px;
        }
        .meue_list li{
            margin: 5px;
            margin-top: 20px;
            font-size: 15px;
        }
        .mypage_content{
           margin: 20px;
        }
        .painting_order_content{
            margin: 50px;
            padding: 50px;
            height: auto;
            border: 1px solid rgb(216, 216, 216);
            border-radius: 50px;
            box-shadow: 2.5px 2.5px 0.2em  rgb(216, 216, 216);
            
        }
        .painting_order_product{
            margin-bottom: 50px;
            width: 1215px;
            padding: 30px;
            height: 200px;
            border: 1px solid rgb(216, 216, 216);
            border-radius: 25px;
            box-shadow: 2.5px 2.5px 0.2em  rgb(216, 216, 216);
            display: flex;
        }

        .painting_order_product #info span{
            margin-bottom: 10px;
            font-size: 20px;
        }

        .painting_order_btn{
            border: 1px solid rgb(216, 216, 216);
            background: none;
            width: 300px;
            height: 50px;
            margin-bottom: 30px;
        }
        .painting_order_btn:active{
            border: 0;
            background: rgb(255, 251, 0);
            
        }
        .painting_order_btn:focus{
            outline: none;
            border: 0;
            background: #ffe492;
            
        }

        #adr_add_btn{
            border: 1px solid rgb(216, 216, 216);
            background: none;
            color:#FFBF00;
            width: 100%;
            height: 50px;
            font-size: 20px;
            margin-left: auto;
            margin-right: auto;
            font-weight: bold;
            
        }

        #adr_add_btn:active{
            border: 0;
            outline: none;
            background: #ffe492;
        }
        #adr_add_btn:focus{
            border: 0;
            outline: none;
            background: #ffe492;
        }
        
    </style>

</head>

<body>
    <%- include("../head/nav",{name:name}) %>

    <div class="mypage_body">
        <div id="title">
            <div id="my_main" style="flex-basis: 175px; background-color: #FFBF00;">
                <span>mypage</span>
            </div>
            <div id="my_order_count" class="count" style="flex-basis: 662.5px; background-color: #F7D358;">
                <div>주문</div>
                <div class="count_content">
                    <span style="font-size: 35px;">0</span><span>건</span>
                </div>
            </div>
            <div id="my_custom_count" class="count" style="flex-basis: 662.5px; background-color: #F7D358;">
                <div>커스텀 제작</div>
                <div class="count_content">
                    <span style="font-size: 35px;">0</span><span>건</span>
                </div>
            </div>
        </div>
        <div id="tbody">
            <div class="mypage_nav" style="flex-basis: 175px; height: 400px; background-color: #F5ECCE;">
                
                <div class="meue_list">나의 주문
                    <div>
                        <ul>
                            <li><a href="/mypage">페인팅 주문 목록</a></li>
                            <li><a href="/mypage/custom_order">커스텀 주문 목록</a></li>
                        </ul>
                    </div>
                    
                </div>

                <div class="meue_list"> 나의 정보
                    <div>
                        <ul>
                            <li > <a href="/mypage/myCard">결제카드 정보</a> </li>
                            <li ><a href="/mypage/myAdr">배송지 정보</a></li>
                        </ul>
                    </div>

                </div>
                
                <div class="meue_list" style="font-weight: bold;">
                    <a href="/mypage/reviewList">내가 작성한 리뷰</a>
                </div>
                
            </div>

            <div class="mypage_content" style="flex-basis:1304px; height: auto;">
                <h1 style="margin: 20px;">작성 리뷰 목록</h1>

                <div class="painting_order_product">
                        
                    <div id="info" style="flex-basis: 500px; display: flex; flex-direction: column; margin: auto 10px auto 0px">
                        <span>상품명:BLOOM*IZ I*WAS 판</span>
                        <span>작성일자:2020-11-20</span>
                        <span>별점: 101점</span>
                        <span>리뷰내용: 너무좋아요 </span>
                    </div>
                    <div style="flex-basis: 220px; margin:auto;" >
                        <img src="../images/slide_images/귀멸의 칼날1.jpg" alt="" width="200" height="200">
                    </div>
                    <div style="flex-basis: 250px; display: flex; flex-direction: column; margin: auto;">
                        <a href=""><button class="painting_order_btn" >수정</button></a>
                        <a href=""><button class="painting_order_btn" >삭제</button></a>
                    </div>
                </div>

                <a href=""><button id="adr_add_btn">리뷰작성</button></a>

                

                
                
            </div>
        </div>
    </div>

</body>

</html>

<script type="text/javascript">

    function setsub() {
        var sublnb = document.getElementById("sublnb");
        sublnb.style.display = "block";
        sublnb.style.opacity = "1";
        sublnb.style.visibility = "visible";
    }
    function outsub() {
        var sublnb = document.getElementById("sublnb");
        sublnb.style.display = "none"
        sublnb.style.opacity = "0";
        sublnb.style.visibility = "hidden";
    }
    function lsub() {
        var looksub = document.getElementById("sublnb");
        sublnb.style.display = "block";
        sublnb.style.opacity = "1";
        sublnb.style.visibility = "visible";
    }
    function loutsub() {
        var looksub = document.getElementById("sublnb");
        sublnb.style.display = "none";
        sublnb.style.opacity = "0";
        sublnb.style.visibility = "hidden";
    }
    function setsub2() {
        var sublnb2 = document.getElementById("sublnb2");
        sublnb2.style.display = "block";
        sublnb2.style.opacity = "1";
        sublnb2.style.visibility = "visible";
    }
    function outsub2() {
        var sublnb2 = document.getElementById("sublnb2");
        sublnb2.style.display = "none";
        sublnb2.style.opacity = "0";
        sublnb2.style.visibility = "hidden";
    }
    function lsub2() {
        var sublnb2 = document.getElementById("sublnb2");
        sublnb2.style.display = "block";
        sublnb2.style.opacity = "1";
        sublnb2.style.visibility = "visible";
    }
    function loutsub2() {
        var sublnb2 = document.getElementById("sublnb2");
        sublnb2.style.display = "none";
        sublnb2.style.opacity = "0";
        sublnb2.style.visibility = "hidden";
    }

</script>