<div class="menu">
    <div style="font-size: 25px; font-weight: bold;">파우치</div>
    <li class="menu-item">
        <div class="btn">
            노트북 파우치
            <button id="dropdown_btn" onclick="slidedown()"><img src="/images/font/down.png"/></button>
        </div>
        <div class="menu-item__sub" id="sub_drop">
            <a href="#">16인치</a>
            <a href="#">15인치</a>
            <a href="#">14인치</a>
            <a href="#">13인치</a>
        </div>
    </li>
    <li class="menu-item">
        <div class="btn">
            테블릿 파우치
            <button id="dropdown_btn2" onclick="slidedown2()"><img src="/images/font/down.png"/></button>
        </div>
        <div class="menu-item__sub" id="sub_drop2">
            <a href="#">12인치</a>
            <a href="#">11인치</a>
            <a href="#">10인치</a>
            <a href="#">9.6인치</a>
        </div>
    </li>
    <li class="menu-item">
        <div href="" class="btn">
        뭐 별거없음   
        </div>
    </li>
</div>


<script type="text/javascript">
    var dropdown =  document.getElementById("dropdown_btn");
    var dropdown2 = document.getElementById("dropdown_btn2");
    var drop = document.getElementById('sub_drop');
    var drop2 = document.getElementById('sub_drop2');
    function slidedown(){
        if(drop.classList[1]=='sub_drop'){
            drop.classList.remove('sub_drop');
            dropdown.classList.remove('rotate');
        }else{
            drop.classList.add('sub_drop');
            dropdown.classList.add('rotate');
        }
    }
    function slidedown2(){
        if(drop2.classList[1]=='sub_drop2'){
            drop2.classList.remove('sub_drop2');
            dropdown2.classList.remove('rotate2');
        }else{
            drop2.classList.add('sub_drop2');
            dropdown2.classList.add('rotate2');
        }
    }

</script>