<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>

    <link rel='stylesheet' href='/stylesheets/default.css' />
    <link rel='stylesheet' href='/stylesheets/navstyle.css' />
    <style>
        #review_body {
            width: 1000px;
            height: 0 auto;

            margin: 0 auto;
            margin-top: 100px;
        }

        .review_header {
            font-size: 32px;
            border-bottom: 2px solid #AAA;
            padding-bottom: 40px;
        }

        #review_header_f {
            margin-right: 5px;
        }

        #review_header_s {
            color: #868e96;
        }


        #review_info {
            display: flex;
            flex-direction: row;
            height: auto;
            overflow: hidden;
            margin: 20px;

            border-bottom: 1px solid #AAA;
        }

        #review_info .item:nth-child(1) {
            
            flex-grow: 1;

        }

        #review_info .item:nth-child(2) {
            
            flex-grow: 8;
        }

        #review_info .item:nth-child(3) {
            
            flex-grow: 1;

        }

        .item{
            color: #000;
            height: 150px;
        }
        #item_list{
            display: flex;
            flex-direction: column;
        }

        #review_product_img {
            width: 50px;
            height: 50px;
            display: block;
            color: transparent;
            background: url('../images/main_page/브라이언.jpg') no-repeat;
            background-size: 50px 50px;
        }


        #review_user_img {

            width: 160px;
            height: 160px;
            display: block;
            color: transparent;
            background: url('../images/main_page/브라이언.jpg') no-repeat;
            background-size: 160px 160px;
        }
    </style>
</head>

<body>
    <%- include("../head/nav") %>

    <div id="review_body">

        <div class="review_header">
            <span id="review_header_f">리뷰</span><span id="review_header_s">(리뷰수)</span>
        </div>

        <div id="review_info">

            <div class="item">
                <a href="" id="review_product_img">상품이미지</a>
            </div>

            <div class="item" id="item_list">
                <span>상품명</span>
                <span>별점</span>
                <span>작성날짜</span>
                <span>작성자</span>
                <span>내용</span>
            </div>

            <div class="item">
                <a href="" id="review_user_img">리뷰이미지</a>
            </div>

        </div>

        <div id="review_info">

            <div class="item">
                <a href="" id="review_product_img">상품이미지</a>
            </div>

            <div class="item" id="item_list">
                <span>상품명</span>
                <span>별점</span>
                <span>작성날짜</span>
                <span>작성자</span>
                <span>내용</span>
            </div>

            <div class="item">
                <a href="" id="review_user_img">리뷰이미지</a>
            </div>

        </div>



    </div>


</body>

</html>