
<div class="product_area">
    <div class="product">
        <div class="product_title">
            <p>파우치</p>
        </div>
        <div class="wrapper">
            <diV class="wrapper">
                <div class="card">
                    <img src="../images/스폰지.jpg">
                    <div class="info">
                        <h1>스폰지밥1</h1>
                        <p>빵긋 웃고있는 스폰지밥 1번 이미지 입니다.</p>
                        <a href="#" class="btn">자세히 보기</a>
                    </div>
                </div>
                <div class="card">
                    <img src="../images/스폰지밥2.jpg">
                    <div class="info">
                        <h1>스폰지밥2</h1>
                        <p>빵긋 웃고있는 스폰지밥 1번 이미지 입니다.</p>
                        <a href="#" class="btn">자세히 보기</a>
                    </div>
                </div>
                <div class="card">
                    <img src="../images/브라이언.jpg">
                    <div class="info">
                        <h1>브라이언</h1>
                        <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                        <a href="#" class="btn">자세히 보기</a>
                    </div>
                </div>
                <div class="card">
                    <img src="../images/브라이언.jpg">
                    <div class="info">
                        <h1>브라이언</h1>
                        <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                        <a href="#" class="btn">자세히 보기</a>
                    </div>
                </div>
            </diV>
        </div>
    </div>
</div>
