
<div class="card_title_area">
    <div class="card_title">나만의 상품 만들기</div>
    <div class="card_subtitle">세상에 하나밖에 없는 나만의 디자인 제품</div>
</div>
<div class="product_area">
    <div class="product">
        <div class="wrapper">
            <diV class="wrapper">
                <div class="product_title">
                    <p>파우치</p>
                </div>
                <div class="product_detail">
                    <a>자세히</a>
                </div>
                <div class="card">
                    <img src="../images/main_page/스폰지.jpg">
                    <div class="info">
                        <h1>스폰지밥1</h1>
                        <p>빵긋 웃고있는 스폰지밥 1번 이미지 입니다.</p>
                        <a href="#" class="btn">자세히 보기</a>
                    </div>
                </div>
                <div class="card">
                    <img src="../images/main_page/스폰지밥2.jpg">
                    <div class="info">
                        <h1>스폰지밥2</h1>
                        <p>빵긋 웃고있는 스폰지밥 1번 이미지 입니다.</p>
                        <a href="#" class="btn">자세히 보기</a>
                    </div>
                </div>
                <div class="card">
                    <img src="../images/main_page/브라이언.jpg">
                    <div class="info">
                        <h1>브라이언</h1>
                        <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                        <a href="#" class="btn">자세히 보기</a>
                    </div>
                </div>
                <div class="card">
                    <img src="../images/main_page/브라이언.jpg">
                    <div class="info">
                        <h1>브라이언</h1>
                        <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                        <a href="#" class="btn">자세히 보기</a>
                    </div>
                </div>
            </diV>
        </div>



        <!-- 케이스 부분 -->
        <div class="wrapper">
            <diV class="wrapper">
                <div class="product_title">
                    <p>케이스</p>
                </div>
                <div class="product_detail">
                    <a>자세히</a>
                </div>
                <div class="card">
                    <img src="../images/main_page/card_smartphone1.jpg">
                    <div class="info">
                        <h1>스폰지밥1</h1>
                        <p>빵긋 웃고있는 스폰지밥 1번 이미지 입니다.</p>
                        <a href="#" class="btn">자세히 보기</a>
                    </div>
                </div>
                <div class="card">
                    <img src="../images/main_page/card_smartphone2.jpg">
                    <div class="info">
                        <h1>스폰지밥2</h1>
                        <p>빵긋 웃고있는 스폰지밥 1번 이미지 입니다.</p>
                        <a href="#" class="btn">자세히 보기</a>
                    </div>
                </div>
                <div class="card">
                    <img src="../images/main_page/card_smartphone3.jpg">
                    <div class="info">
                        <h1>브라이언</h1>
                        <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                        <a href="#" class="btn">자세히 보기</a>
                    </div>
                </div>
                <div class="card">
                    <img src="../images/main_page/card_smartphone4.jpg">
                    <div class="info">
                        <h1>브라이언</h1>
                        <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                        <a href="#" class="btn">자세히 보기</a>
                    </div>
                </div>
            </diV>
        </div>


        <!-- 의류 부분 -->
        <div class="wrapper">
            <diV class="wrapper">
                <div class="product_title">
                    <p>의류</p>
                </div>
                <div class="product_detail">
                    <a>자세히</a>
                </div>
                <div class="card">
                    <img src="../images/main_page/card_cloth1.jpg">
                    <div class="info">
                        <h1>스폰지밥1</h1>
                        <p>빵긋 웃고있는 스폰지밥 1번 이미지 입니다.</p>
                        <a href="#" class="btn">자세히 보기</a>
                    </div>
                </div>
                <div class="card">
                    <img src="../images/main_page/card_cloth2.jpg">
                    <div class="info">
                        <h1>스폰지밥2</h1>
                        <p>빵긋 웃고있는 스폰지밥 1번 이미지 입니다.</p>
                        <a href="#" class="btn">자세히 보기</a>
                    </div>
                </div>
                <div class="card">
                    <img src="../images/main_page/card_cloth3.jpg">
                    <div class="info">
                        <h1>브라이언</h1>
                        <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                        <a href="#" class="btn">자세히 보기</a>
                    </div>
                </div>
                <div class="card">
                    <img src="../images/main_page/card_cloth4.jpg">
                    <div class="info">
                        <h1>브라이언</h1>
                        <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                        <a href="#" class="btn">자세히 보기</a>
                    </div>
                </div>
            </diV>
        </div>

    </div>
</div>

<div class="card_title_area2">
<div class="card_title">나만의 아이템 제작하기</div>
<div class="card_subtitle">나만을 위한 맞춤형 제품</div>
</div>
<div class="product_area">
    <div class="product">

        <!-- 키보드 부분 -->
        <div class="wrapper">
            <diV class="wrapper">
                <div class="product_title">
                    <p>키보드</p>
                </div>
                <div class="product_detail">
                    <a>자세히</a>
                </div>
                <div class="card">
                    <img src="../images/main_page/card_keyboard.jpg">
                    <div class="info">
                        <h1>스폰지밥1</h1>
                        <p>빵긋 웃고있는 스폰지밥 1번 이미지 입니다.</p>
                        <a href="#" class="btn">자세히 보기</a>
                    </div>
                </div>
                <div class="card">
                    <img src="../images/main_page/card_keyboard2.jpg">
                    <div class="info">
                        <h1>스폰지밥2</h1>
                        <p>빵긋 웃고있는 스폰지밥 1번 이미지 입니다.</p>
                        <a href="#" class="btn">자세히 보기</a>
                    </div>
                </div>
                <div class="card">
                    <img src="../images/main_page/card_keyboard3.jpg">
                    <div class="info">
                        <h1>브라이언</h1>
                        <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                        <a href="#" class="btn">자세히 보기</a>
                    </div>
                </div>
                <div class="card">
                    <img src="../images/main_page/card_keyboard4.jpg">
                    <div class="info">
                        <h1>브라이언</h1>
                        <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                        <a href="#" class="btn">자세히 보기</a>
                    </div>
                </div>
            </diV>
        </div>



        <!-- 마우스 부분 -->
        <div class="wrapper">
            <diV class="wrapper">
                <div class="product_title">
                    <p>마우스</p>
                </div>
                <div class="product_detail">
                    <a>자세히</a>
                </div>
                <div class="card">
                    <img src="../images/main_page/card_mouth.jpg">
                    <div class="info">
                        <h1>스폰지밥1</h1>
                        <p>빵긋 웃고있는 스폰지밥 1번 이미지 입니다.</p>
                        <a href="#" class="btn">자세히 보기</a>
                    </div>
                </div>
                <div class="card">
                    <img src="../images/main_page/card_mouth2.jpg">
                    <div class="info">
                        <h1>스폰지밥2</h1>
                        <p>빵긋 웃고있는 스폰지밥 1번 이미지 입니다.</p>
                        <a href="#" class="btn">자세히 보기</a>
                    </div>
                </div>
                <div class="card">
                    <img src="../images/main_page/card_mouth3.jpg">
                    <div class="info">
                        <h1>브라이언</h1>
                        <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                        <a href="#" class="btn">자세히 보기</a>
                    </div>
                </div>
                <div class="card">
                    <img src="../images/main_page/card_mouth4.jpg">
                    <div class="info">
                        <h1>브라이언</h1>
                        <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                        <a href="#" class="btn">자세히 보기</a>
                    </div>
                </div>
            </diV>
        </div>


        <!-- 이어폰 부분 -->
        <div class="wrapper">
            <diV class="wrapper">
                <div class="product_title">
                    <p>이어폰</p>
                </div>
                <div class="product_detail">
                    <a>자세히</a>
                </div>
                <div class="card">
                    <img src="../images/main_page/card_earphone.jpg">
                    <div class="info">
                        <h1>스폰지밥1</h1>
                        <p>빵긋 웃고있는 스폰지밥 1번 이미지 입니다.</p>
                        <a href="#" class="btn">자세히 보기</a>
                    </div>
                </div>
                <div class="card">
                    <img src="../images/main_page/card_earphone2.jpg">
                    <div class="info">
                        <h1>스폰지밥2</h1>
                        <p>빵긋 웃고있는 스폰지밥 1번 이미지 입니다.</p>
                        <a href="#" class="btn">자세히 보기</a>
                    </div>
                </div>
                <div class="card">
                    <img src="../images/main_page/card_earphone3.jpg">
                    <div class="info">
                        <h1>브라이언</h1>
                        <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                        <a href="#" class="btn">자세히 보기</a>
                    </div>
                </div>
                <div class="card">
                    <img src="../images/main_page/card_earphone4.jpg">
                    <div class="info">
                        <h1>브라이언</h1>
                        <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                        <a href="#" class="btn">자세히 보기</a>
                    </div>
                </div>
            </diV>
        </div>

    </div>
</div>