<div class="product">
    <div class="product_title">
    <p>파우치</p>
    </div>
<div class="wrapper">
    <diV class="wrapper">
        <div class="card">
            <img src="../images/스폰지.jpg">
            <div class="info">
                <h1>스폰지밥1</h1>
                <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                <a href="#" class="btn">자세히 보기</a>
            </div>
        </div>
        <div class="card">
            <img src="../images/스폰지밥2.jpg">
            <div class="info">
                <h1>스폰지밥2</h1>
                <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                <a href="#" class="btn">자세히 보기</a>
            </div>
        </div>
        <div class="card">
            <img src="../images/브라이언.jpg">
            <div class="info">
                <h1>브라이언</h1>
                <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                <a href="#" class="btn">자세히 보기</a>
            </div>
        </div>
        <div class="card">
            <img src="../images/브라이언.jpg">
            <div class="info">
                <h1>브라이언</h1>
                <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                <a href="#" class="btn">자세히 보기</a>
            </div>
        </div>
        <div class="product_detail">
            <ul>
                <li>
                    <a>보러가기></a>
                </li>
            </ul>
        </div>
    </diV>
</div>
</div>