<a href="#contents" class="skip">CS</a>
<header>
    <h1><a href="#a">CS</a></h1>
    <h2 class="hide">대메뉴</h2>
    <nav class="lnb">
        <ul>
            <li><a href="#a"><span>파우치<div></div></span></a></li>
            <li><a href="#a"><span>가방<div></div></span></a></li>
            <li><a href="#a"><span>케이스<div></div></span></a></li>
            <li><a href="#a"><span>커스텀제작<div></div></span></a></li>
        </ul>
    </nav>

    <h2 class="hide">관련 서비스</h2>
    <nav class="spot">
        <ul>
            <li><a href="#a">로그인</a></li>
            <li><a href="#a">회원가입</a></li>
        </ul>
    </nav>
</header>