<div class="search_space">
<div class="search_area">
    <div class="search_title">내가 만드는 내 브랜드</div>
    <div class="search">
        <input class="input_search" type="text" placeholder="검색어 입력">
        <a class="button_search" href="#a">검색</a>
    </div>
</div>
</div>
