<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/default.css' />
    <link rel='stylesheet' href='/stylesheets/navstyle.css' />
    <link rel="stylesheet" href="/stylesheets/mypage/mypage_subnav.css">

</head>
<body>
    <%- include("../head/nav",{name:name}) %>
    <a href="http://iz-one.co.kr/"><h1>OFF THE RECOED</h1></a>

</body>
</html>