.mypage_nav #painting:hover {
    color: #c99700
}

.mypage_nav #custom:hover {
    color: #c99700
}

.mypage_nav #card:hover {
    color: #c99700
}

.mypage_nav #adr:hover {
    color: #c99700
}

.mypage_nav #review:hover {
    color: #c99700
}